* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

html, body{
  height: 99%;
  width: 99%;
}

body {
  background: linear-gradient(to top, green, white, skyblue);
  background-size: 100% 105%;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  padding: 5px;
}

.search-container {
  align-self: center;
  margin:auto;
  padding-top: 20vh;
  align-self: center;
  width:90%;
  /* place-items:center;
  display:grid; */
}
.search-container h1 {
  text-align:center;
  font-size: 120px;
  margin-bottom: 0px;
  margin-top:0px;
  text-shadow: 5px 5px black;
}

.search-container input,
.search-container .suggestions {
  margin: auto;
  display: block;
  text-align: left;
  width: 95%;
  color: #251500;
}
.search-container input {
  border-radius: 30px;
  padding:10px;
  overflow:hidden;
  border:4px solid #6e2c00;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px #411a00;
  background-color: #ffff80 ;
}

.search-container input:focus {
  outline:none;
}
.search-container .suggestions {
}

ul {
  list-style-type: none;
  padding: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
  /* border:5px solid black; */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px #411a00;
}

ul.has-suggestions {
  border:5px solid #6e2c00;
  background-color: #ffff80 ;
}
ul li {
  font-weight: bold;
  text-align: left;
  transition: .5s ease;
  padding-left:10px;
  padding-right:10px;
  /* padding-top: 3px;
  padding-bottom:3px; 
  margin-bottom: 2px;*/
  /* background-color: #eaeaea; */
}
ul li:hover { 
  background-color: #b9df5e;
  transition: .5s ease;
  
}

input {

}

.t1{
  color:green;
}

.t2{
  color:red;
}